.site-wrapper {
    margin-top: 110px;
}

.text-center {
    margin-top: 20px;
}

.navbar {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.today-date {
    color: #09df6d;
    font-size: 5vh;
    font-family: 'Verdana', sans-serif;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: 2vh;
}

#clock {
    color: black;
    font-size: 7vh;
    background: linear-gradient(to top, #079aed, #08eb72);
    border-radius: 3.5vh;
    height: 14vh;
    padding: 0 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time {

}

#next-year {
    color: #07a8ff;
}